.a-propos{

  margin-bottom: 40px;
  h3{
    color: $color-couleur1-base;
    margin: 100px 0;
    padding: 5px 0 ;
    font-size:30px ;
    text-align: left;
    border-bottom: solid 2px $color-couleur3-base;
    width: 113px;

  }
}

.section-apropos{
  display: flex;
  align-items: center;
  position: relative;



.texture-rouge{
  background-image:url("/images/texturebg_rouge.jpg");
  height: 640px;
  width: 555px;
}
  img{
    height:705px ;
    width:480px ;
    position: absolute;
    top: 0;
    left: 40px;

  }

  strong{
    color:$color-couleur4-dark;
  }

  div:nth-child(2){
    background-image:url("<?php bloginfo('template_directory'); ?>/images/texturebg_creme.jpg");
    padding: 62px;
  }
}