

.contactContainer{

  margin-top: 20vh;

  h3 {
    font-size: rem(44);
    margin-bottom: 20px;
  }

  hr {
    border-top: 1px solid $color-couleur3-dark;
    width: 7%;
    margin-bottom: 10vh;
  }


  .sectionContact{

    margin: 10vh 0;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contenuSectionContact{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: $color-couleur2-light;
      margin: 50px 0;

      padding: 5vh 30px;

        i{
          font-size: 2rem;
        }

      .telephoneSectionContact{
        margin: 3vh 0;
      }


      .ouvertureSectionContact{

        h4{
          font-size: 25px;
          margin-top: 0;
          color: #515151;
        }

        .heuresOuvertureContact{
          display: flex;
          flex-direction: row;
          justify-content: space-around;

        }

        .heuresPremier{
          margin-right: 5%;
        }

      }
    }

    .mapSectionContact{
      width: 40vw;
    }

  }


}

@media screen and (max-width: $breakpoint-md){



  .contactContainer{

    .sectionContact{

      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mapSectionContact{
        width: 80vw;
        height: 80vh;
      }

    }

  }



}



