

.contenuEmporter{

  margin-top: 20vh;

  h3 {
    font-size: rem(44);
    margin-bottom: 20px;
  }

  hr {
    border-top: 1px solid $color-couleur3-dark;
    width: 7%;
  }

  h4{
    color: black;
    margin-bottom: 10vh;
    margin-top: 2vh;
  }

  .sectionEmporter{

    text-align: center;
    width: 100%;

    .choixEmporter{

      display: flex;
      flex-direction: row;
      justify-content: space-around;

      width: 100%;

      background-color: #FFEAD1;


      .choixEmporterItem{

        border: solid $color-couleur4-dark 2px;
        border-radius: 5px;

        width: 230px;
        margin: 35px 0;

        transition: 0.5s;

        p{
          text-transform: uppercase;
          color: $color-couleur4-base;
          font-size: 17px;
        }

        &:hover{
          background-color: #DA6961;

          p{
            color: $color-couleur2-light;
          }

        }

      }

    }


    .repasEmporter{

      padding: 10vh 0;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .repas{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


        width: 45%;

        p{
          text-align: left;
          color: black;
          font-size: rem(15);
        }

        div{
          display: flex;
          flex-direction: row;
          align-items: center;

          p{
            margin-left: 20px;
          }

          img{
            height: 23px;
            width: 23px;
          }
        }

        .prixRepas{
          color: $color-couleur4-dark;
          font-size: rem(36);
        }

        .descriptionRepasEmporter{
          width: 347px;
        }

      }

    }

    .repasPrincipaux{
      display: none;
    }

    .repasACotes{
      display: none;
    }

    .repasDessert{
      display: none;
    }

  }

}




@media screen and (max-width: $breakpoint-md){

  .contenuEmporter{

    .sectionEmporter{
      .choixEmporter{
        flex-wrap: wrap;

        .choixEmporterItem{
          width: 40%;
        }
      }

      .repasEmporter{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .repas{

          .descriptionRepasEmporter{
            width: 246px;
          }
        }
      }
    }
  }




}






