// STYLES DU PIED DE PAGE

footer {
  div.pied-de-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #282828;
    padding: 15px 65px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 35%;

      a {
        @include font($ff-subtitle, rem(17), #FFE8A5, $lh-normal);
        transition: all 150ms ease-in-out;

        &:hover {
          color: $white;
          transition: all 150ms ease-in-out;
        }
      }
    }

    & > a {
      width: 10%;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10%;

      a {
        i {
          color: #787878;
          font-size: rem(35);

          transition: all 150ms ease-in-out;
        }

        &:hover i {
          color: $white;

          transition: all 150ms ease-in-out;
        }
      }

    }
  }

  div.infolettre {
    background-color: #2E2E2E;

    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: rem(16);
      color: #FFE8A5;
    }

    form.form-infolettre {
      display: flex;
      flex-direction: column;
      align-items: center;

      [type="email"] {
        width: 150%;
        margin-bottom: 15px;
      }

      [type="submit"] {
        margin-bottom: 35px;
      }
    }

    hr.ligne-footer {
      border-top: 1px solid $color-couleur1-light;
      width: 5%;
    }

    small {
      margin-top: 35px;
      font-size: rem(12);
      color: $color-couleur1-light;
    }
  }
}