.galerie{
  /* The grid: Four equal columns that floats next to each other */
position: relative;
  h3{
    color: $color-couleur1-base;
    margin: 100px 0;
    padding: 5px 0 ;
    font-size:30px ;
    text-align: left;
    border-bottom: solid 2px $color-couleur3-base;
    width: 90px;

  }

  .texture-rouge{
    background-image:url("../images/texturebg_rouge.jpg");
    height: 333px;
    width: 333px;
    position: absolute;
    top: 150px;
    left: 55px;
  }
  .texture-creme{
    background-image:url("../images/texturebg_creme.jpg");
    height: 333px;
    width: 333px;
    position: absolute;
    top: 425px;
    left: 610px;
  }


  .row{
    margin-top: 80px;
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }

  .column img:hover {
    opacity: 1;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container */
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    img{

      width: 80%;

    }
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }


}

