.fond{
  background-image: url("../images/fond-mix.jpg");
  background-size: cover;

  height:625px ;
  position: relative;

  h3{
   color: $color-couleur2-base;
   padding-top: 100px;
   padding-bottom: 5px;

   font-size:35px ;
   text-align: left;

   border-bottom: solid 2px $color-couleur3-base;
   width: 120px;

  }


  .swiper-container{
    width:1070px;
    margin:0 auto;
    padding-top: 50px;
  }

  .swiper-slide{
    text-align:center;
    font-size:18px;
    background:#fff;
    display:-webkit-box;display:-ms-flexbox;
    display:-webkit-flex;display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
  }

  .swiper-pagination-bullet {

    width: 20px;
    height: 20px;
    position: relative;
  }

  .swiper-container-horizontal>.swiper-pagination {

    left: 0;
    margin-top: 20px;
    width: 100%;

  }
  .swiper-pagination-bullet-active {
    background: $color-couleur4-dark;
  }

}
.groupes{
  p{
    line-height: 26px;
  }

  a{
    color:$color-couleur4-dark;
  }

  strong{
    color:$color-couleur4-dark;
  }
}
