// STYLES DE LA SECTION HEADER

header {
  background-color: rgba(24, 24, 24, 0.65);

  display: flex;
  align-items: center;

  // Pour fixer le menu
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;

  padding: 0;

  display: flex;
  justify-content: center;

  nav {

    ul {
      display: flex;
      align-items: center;

      position: relative;

      height: 62px;

      & > li {
        @include font($ff-subtitle, rem(21), $color-couleur2-light, $lh-normal);
        padding: 0 50px;

        position: relative;

        &:nth-child(2), &:nth-child(6) {
          border-right: solid 1px $color-couleur1-base;
          border-left: solid 1px $color-couleur1-base;
        }

        &:hover {
          a {
            color: #FFCD39;
            transition: all 150ms ease-in-out;
          }
        }

        a {
          transition: all 150ms ease-in-out;
        }

        &.logo {
          background-color: $color-couleur1-base;
          padding: 20px 10px;

          display: flex;
          justify-content: center;
          align-items: center;

          position: relative;
          top: 22%;

          a {
            width: 75%;

            img {
              min-width: 195px;
              height: auto;
            }
          }
        }

        /*-------------------------------------*/
        /* Sous-menus */
        & > ul {
          display: flex;
          flex-direction: column;
          align-items: center;

          visibility: hidden;
          opacity: 0;
          transition: all 150ms ease-in-out;

          position: absolute;
          z-index: 50;
          top: 110%;
          padding-top: 18px;


          & > li {
            display: flex;
            flex-direction: column;
            align-items: center;

            border-bottom: 3px solid $color-couleur4-dark;

            background-color: #FFEAD1;
            transition: all 150ms ease-in-out;

            min-width: 150px;
            padding: 15px 10px;

            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);

            &:nth-child(2), &:nth-child(6) {
              border: none;
            }

            &:hover {
              transition: all 150ms ease-in-out;

              background-color: $white;
              cursor: pointer;

              a:link, a:visited {
                color: $color-couleur4-dark;
                transition: all 150ms ease-in-out;
              }
            }

            a:link, a:visited {
              color: #181818;
              transition: all 150ms ease-in-out;
            }

            &:first-child {
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: -35%;
                left: 5%;
                width: 0;
                height: 0;
                border: solid 10px;
              }

              &:before {
                border-color: transparent transparent #FFEAD1 transparent;
              }

              &:hover {
                &:before {
                  border-color: transparent transparent $white transparent;
                }
              }
            }
          }
        }

        &:hover > ul {
          visibility: visible;
          opacity: 1;
          transition: opacity 200ms ease-in-out;
        }
        /*-------------------------------------*/
      }
    }
  }


  div.langues {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(124, 122, 122, 0.75);

    padding: 8px;
    margin-left: 30px;

    height: 50%;

    position: absolute;
    right: 5%;

    &:hover {
      a {
        color: #f8f9fa;
      }
    }

    .seperateur-langues {
      margin: 0 5px;
      font-size: rem(25);
    }

    a {
      padding-top: 5px;

      &:hover {
        color: #FFCD39;
      }
    }

    a:last-child {
      color: #2B2B2B;
      cursor: default;
    }
  }
}