// STYLES DE LA PAGE MENU À TABLE

div.img-menu-entete {
  background: url('../images/menu_table_entete.jpg') center center / 60% auto no-repeat;
  min-height: 556px;

  margin-bottom: 75px;
}

div.titre-menu-table {
  h3 {
    font-size: rem(44);
    margin-bottom: 20px;
  }

  hr {
    border-top: 1px solid $color-couleur3-dark;
    width: 7%;

    margin-bottom: 50px;
  }
}

/*-----------------------------------*/

section.types-services {
  display: flex;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 50px;

    width: 25%;

    padding: 25px 40px;


    h4, p {
      text-align: center;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    h4 {
      @include font($ff-normal, rem(28), $color-couleur4-dark, $lh-normal);
    }

    p {
      margin: 20px 0 0;
      font-size: rem(26);
      color: $color-couleur1-light;
      line-height: 1.5;
    }

    &:first-child {
      background: url('../images/menu_service_fond1.png') center center / auto 100% no-repeat;
    }

    &:last-child {
      background: url('../images/menu_service_fond2.png') center center / auto 100% no-repeat;
    }
  }
}

/*-----------------------------------*/

section.nav-menu-table {

  display: flex;
  justify-content: center;

  margin-top: 80px;
  padding: 30px 0;

  background-color: #FFEAD1;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.35);

  position: relative;
  z-index: 100;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 65%;

    li:nth-child(odd) {
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid $color-couleur4-dark 2px;
      border-radius: 5px;

      padding: 25px 0 20px;
      width: 250px;

      transition: all 150ms ease-in-out;


      a {
        color: $color-couleur4-base;
        font-size: rem(21);
      }

      &:hover {
        background-color: #FFF0EF;

        transition: all 150ms ease-in-out;
      }
    }

    li:nth-child(even) {
      color: #5D8622;
      font-size: rem(25);
    }

    li.menu-selected {
      background-color: #DA6961;
      pointer-events: none;

      a {
        color: $color-couleur2-light;
      }
    }
  }
}

/*-----------------------------------*/

section.repas {
  position: relative;

  article {
    display: flex;
    justify-content: center;
    align-items: center;

    &.entrees {
      background: url('../images/menu_fond_entrees.png') center center / cover no-repeat;
      display: none;
    }

    &.plats-principaux {
      background: url('../images/menu_fond_plats_principaux.png') center center / cover no-repeat;
    }

    padding: 60px 50px 200px;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      li {
        flex-basis: 35%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 23px;
          height: auto;

          margin-right: 20px;
        }

        p {
          margin-right: 35px;
          font-size: rem(17);
          color: $black;
          line-height: 1.5;
        }

        div {
          display: flex;
          align-items: flex-start;

          h4 {
            margin-right: 10px;
            color: $color-couleur4-dark;
            font-size: rem(36);
          }

          h5 {
            color: #A0A0A0;
            font-size: rem(13);
          }
        }

        &:nth-child(odd) {
          margin-right: 65px;
        }
      }
    }
  }


  div.menu-infos {
    background-color: rgba(255, 255, 255, 0.55);
    padding: 20px;

    position: absolute;
    bottom: 0;
    right: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: #474747;
      font-size: rem(14);
      margin: 5px 0;
    }

    hr {
      border-top: 1px solid rgba(122, 12, 4, 0.25);
      width: 25%;
    }
  }
}