// STYLES DE LA SECTION CONTACT (PAGE D'ACCUEIL)

section.contactA {

  display: flex;
  align-items: stretch;

  background-color: $color-couleur1-base;

  border-bottom: solid 7px $color-couleur4-dark;

  article {
    width: 50%;
  }

  aside {

    padding: 50px 0;

    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: $color-couleur2-light;
      font-size: rem(17);
      text-align: center;
      line-height: 1.5;
    }

    i {
      color: $color-couleur2-light;
      font-size: rem(30);
      margin-top: 35px;
    }

    h3 {
      color: $color-couleur3-light;
    }

    h4 {
      color: $color-couleur3-light;
      margin: 45px 0 30px;
    }

    .ouverture {

      display: flex;
      flex-direction: row;

      p {
        color: $color-couleur2-light;
        margin: 0 1vw;
      }

    }

  }

}