



.wrapper404{

  margin: 23vh auto 20vh auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .erreurContenu{

    padding-top: 5vh;

    h2{
      font-family: $ff-subtitle;
      text-align: left;
      color: black;
    }


    .erreurDessous{

      padding-left: 30px;

      h3{
        margin-top: 5vh;

        text-align: left;
        font-weight: normal;

        strong{
          text-decoration: underline;
          text-decoration-color: $color-couleur3-light;
        }
      }

      .erreurText{
        line-height: 30px;
      }

      a{

        p{

          margin-top: 10vh;

          height: 40px;
          width: 150px;

          line-height: 41px;
          text-align: center;
          text-transform: uppercase;
          color: black;

          border-style: solid;
          border-width: 2px;
          border-color: $color-couleur3-light;

          transition: 1s;


          &:hover{
            background-color: $color-couleur3-light;
          }


        }
      }

    }
  }


  .erreurImage{
    height: 40vh;
    width: 40vh;
  }

}



@media screen and (max-width: $breakpoint-md){
  .wrapper404 {

    flex-direction: column;
    justify-content: center;
    align-items: center;

    .erreurImage{
      display: none;
    }
  }
}