

.quoiNeuf{

  background-image: url("../images/quoineufbg.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

  border-bottom: solid 7px $color-couleur4-dark;

  h3{
    margin: 0;
    padding: 10vh 0 0 0;

    color: $color-couleur3-base;
    text-align: center;
  }


  .divQuoiNeuf{

    margin: 100px 0 5vw;

    display: flex;
    justify-content: center;


    div{
      display: flex;

      width: 35%;

      margin: 0 20px;

      min-height: 356px;
      max-width: 559px;

      position: relative;

      p{
        position: absolute;
        bottom: 0;

        display: flex;
        align-items: center;

        margin: 0;
        padding: 15px;

        width: 100%;
        height: 30%;

        color: $color-couleur2-light;
        background-color: rgba( 24, 24, 24, 0.65);

        font-size: rem(21);
        letter-spacing: 1px;

        text-align: center;
      }

    }

    div:first-child {
      background-image: url("../images/quoiNeuf1.png");
    }
    div:last-child {
      background-image: url("../images/quoiNeuf2.png");
    }

  }

}





