// STYLES POUR LA PAGE DE RÉSERVATION

div.titre-reservation {
  h3 {
    margin: 150px 0 20px;

    font-size: rem(44);

  }

  hr {
    border-top: 1px solid $color-couleur3-dark;
    width: 5%;

    margin-bottom: 50px;
  }
}

/*-----------------------------------*/

section.section-reservation {
  display: flex;
  align-items: stretch;
  justify-content: center;

  margin-bottom: 75px;

  article, aside {
    width: 30%;
  }

  article {
    background: url('../images/reservation_img.png') center center / cover no-repeat;

    margin-right: 15px;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 15px;
    padding: 30px 0;

    &>div div, form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {

      div {
        display: flex;
        align-items: center;

        h3 {
          color: $color-couleur1-light;
          font-size: rem(35);

          margin-right: 10px;
        }

        i {
          color: $color-couleur4-base;
          font-size: rem(40);
        }
      }

      p {
        margin: 25px 0 0;
        padding: 0 150px;

        line-height: 1.5;

        text-align: center;

        font-size: rem(19);
        color: $black;
      }
    }


    hr {
      border-top: 1px solid $color-couleur4-light;
      width: 40%;

      margin: 30px 0;
    }

    form {
      flex-direction: column;

      h4 {
        color: $black;
        font-size: rem(25);

        margin-bottom: 20px;
      }

      select, input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }

      &>[type="submit"] {
        width: 60%;
        padding: 10px 0;
        margin: 0;
      }
    }
  }
}
