// STYLES POUR LA SECTION BIENVENUE

section.section-offre {
  display: flex;
  align-items: stretch;

  border-bottom: solid 7px $color-couleur4-dark;

  position: relative;

  h3 {
    background: url('../images/offre_titre_bg.png') center center / cover no-repeat;

    color: $white;
    padding: 7px 0;
    width: 45%;

    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }

  article, aside {
    width: 50%;
  }

  article {
    background-color: #FFEAD1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 135px 0;

    div {
      p {
        font-size: rem(30);
        color: $color-couleur1-base;

        &.shown {
          opacity: 1;
        }
        &.around {
          opacity: 0.5;
        }
        &.further {
          opacity: 0.25;
        }
        &.fading {
          opacity: 0.1;
        }
        &.hidden {
          opacity: 0;
        }
      }
    }
  }

  aside {
    background: url('../images/offre_img1.jpg') center center / cover no-repeat;

    position: relative;

    a {
      display: flex;
      justify-content: center;
      padding: 15px 25px;
      background-color: $color-couleur4-dark;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

      width: 25%;
      @include font($ff-subtitle, $fz-button, $color-couleur2-light, $lh-normal);

      position: absolute;
      left: 0;
      right: 0;
      bottom: 10%;
      margin-left: auto;
      margin-right: auto;

      transition: all 150ms ease-in-out;

      &:hover {
        background-color: $color-couleur4-light;
        color: $white;

        transition: all 150ms ease-in-out;
      }
    }
  }
}