// STYLES POUR LA SECTION TRAITEUR (PAGE D'ACCUEIL)

.sectionTraiteur{

  background-image: url("../images/traiteur_fond.png");

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 50px 20vw;

  border-bottom: solid 7px $color-couleur4-dark;

  .divImgTraiteur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 45%;
    height: 453px;

    img{
      width: 380px;
      height: 124px;
    }

    .imageGauche{
      align-self: flex-start;
    }

  }


  .divContentTraiteur{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-left: 50px;

    width: 55%;

    h3{
      width: 100%;
      padding: 7px 0;

      text-align: center;
      background-color: rgba(255, 241, 201, 0.85);
    }

    .blocBlancTraiteur{

      margin-top: 10px;

      padding: 25px 35px;
      background-color: $white;

      h4 {
        @include font($ff-normal, rem(22), $color-couleur1-light, 1.5);
      }

      p{
        line-height: 2;
        letter-spacing: 1px;

        span{
          color: $color-couleur4-dark;
        }
      }
    }

    a {
      display: flex;
      justify-content: center;

      padding: 15px 25px;
      margin-top: 20px;


      background-color: #2A2A2A;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

      width: 45%;
      @include font($ff-subtitle, $fz-button, $white, $lh-normal);

      transition: all 150ms ease-in-out;

      &:hover {
        background-color: $color-couleur4-base;
        color: $white;

        transition: all 150ms ease-in-out;
      }
    }

  }


}