// STYLES POUR LA SECTION VIDÉO

section.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 85px 0 100px;

  background: linear-gradient(180deg, #FFF1E0 0%, rgba(196, 196, 196, 0) 100%);

  &>div {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    div {
      min-height: 20px;
      width: 33%;
      background-color: $color-couleur1-base;
    }

    h1 {
      font-size: rem(64);
      color: $black;
    }
  }

  iframe {
    padding: 15px;
    border: 1px solid $black;
  }
}