// STYLES POUR LA SECTION HERO

section.section-hero {
  display: flex;
  align-items: stretch;

  article, aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
  }

  article {
    background: url('../images/texture_marble.png') center center / cover no-repeat;

    padding: 150px;

    h1 {
      margin-bottom: 20px;
    }

    h2 {
      width: 55%;
    }

    hr.ligne {
      border-top: 1px solid #5D8622;
      width: 60%;
      margin: 55px 0;
    }

    h3 {
      color: $black;
      font-family: $ff-normal;
      font-size: rem(30);
    }

    a.hvr-sweep-to-right {
      @include font($ff-subtitle, rem(32), #181818, $lh-normal);
      border: 1px solid $color-couleur1-light;
      padding: 15px 25px;
      margin: 50px 0;

      /*---------------------------------------------------*/
      // Effet provenant de Hover.css
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #181818;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover, &:focus, &:active {
        color: $color-couleur2-light;
      }
      &:hover:before, &:focus:before, &:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
      /*---------------------------------------------------*/
    }


    div {
      display: flex;
      justify-content: space-between;
      width: 23%;

      i {
        color: #444444;
        font-size: rem(45);
        transition: color 150ms ease-in-out;

        &:hover {
          color: $color-couleur4-dark;
          transition: color 150ms ease-in-out;
        }
      }
    }
  }

  aside {
    align-items: stretch;
    position: relative;

    div.img1 {
      background: url('../images/hero_img1.jpg') center center / cover no-repeat;
      min-height: 50%;
      border-bottom: solid 5px $color-couleur4-dark;
    }

    div.img2 {
      background: url('../images/hero_img2.jpg') center center / cover no-repeat;
      min-height: 50%;
    }

    div:last-child {
      position: absolute;
      right: 0;
      bottom: 0;

      display: flex;

      max-height: 89px;

      div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 20px;

        background-color: rgba(24,24,24, 0.55);

        p {
          @include font($ff-normal, rem(14), $color-couleur2-light, $lh-normal);
          margin: 5px 0;
        }
      }
    }

  }
}