// STYLES POUR LA SECTION BIENVENUE

section.section-bienvenue {
  display: flex;
  align-items: stretch;

  border-bottom: solid 7px $color-couleur4-dark;

  article, aside {
    width: 50%;
  }

  article {
    background: url('../images/equipe.jpg') center center / cover no-repeat;

    position: relative;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100px;

      background-color: rgba(24, 24, 24, 0.55);
      padding: 10px 25px;

      position: absolute;
      bottom: 8%;

      p {
        color: $white;
        text-align: center;

        &:nth-child(2) {
          font-size: rem(18);
          line-height: 1.5;
          letter-spacing: 1px;
          width: 80%;

          margin: 0 20px;
        }
      }

      p:first-child, p:last-child {
        font-size: rem(49);
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 45px 15px;

    h3 {
      color: $white;
      background-color: #650700;
      padding: 7px 0;
      width: 95%;
    }

    p {
      line-height: 2;
      letter-spacing: 1px;

      width: 80%;
      padding: 20px 0;

      span {
        color: $color-couleur4-dark;
      }
    }
  }
}