// STYLES POUR LA PAGE TRAITEUR

div.titre-traiteur {
  h3 {
    margin: 150px 0 20px;

    font-size: rem(44);
  }

  hr {
    border-top: 1px solid $color-couleur3-dark;
    width: 5%;

    margin-bottom: 50px;
  }
}

/*-----------------------------------*/

section.traiteur-infos {
  margin: 120px 0 80px;

  display: flex;
  align-items: stretch;

  position: relative;

  article, aside {
    width: 50%;
  }

  article {
    background-color: #FFF1C9;

    padding: 50px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .swiper-container {
      width: 100%;
      padding: 0;

      .swiper-wrapper {

        .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 640px;
          }

        }
      }
    }

    .swiper-pagination {
      position: static;
      width: 15%;
      margin-top: 20px;

      display: flex;
      justify-content: space-between;
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
    }

    .swiper-pagination-bullet-active {
      background: $color-couleur4-dark;
    }

  }

  aside {
    background: url('../images/traiteur_infos_bg.png') center center / cover no-repeat;

    padding: 50px 65px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: $color-couleur2-base;
      line-height: 1.5;
    }
  }

  h4 {
    position: absolute;
    left: 0;
    right: 0;
    top: -20%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;

    width: 30%;

    background-color: rgba(24, 24, 24, 0.9);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);

    color: $color-couleur2-light;

    font-size: rem(28);

    padding: 20px 30px;
  }
}

/*-----------------------------------*/

div.titre-traiteur-idees {
  h4 {
    @include font($ff-subtitle, rem(28), $black, $lh-normal);
    margin-bottom: 20px;
  }

  hr {
    border-top: 1px solid $color-couleur4-dark;
    width: 5%;

    margin-bottom: 50px;
  }
}

/*-----------------------------------*/

section.traiteur-idees-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;

  padding: 0 150px;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;

      width: 100%;
      height: 75px;

      color: $color-couleur2-light;
      background-color: #763F3B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      position: relative;
      z-index: 100;

      padding: 15px 25px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      background: url('../images/traiteur_idee_menu_bg.png') center center / cover no-repeat;

      padding: 15px 20px;

      height: 340px;

      li {
        display: flex;
        align-items: center;

        align-self: flex-start;

        img {
          max-width: 10px;
          height: auto;

          margin-right: 20px;
        }

        p {
          font-size: rem(15);
          color: $black;
        }
      }
    }
  }
}

/*-----------------------------------*/

div.traiteur-contact  {
  margin: 60px 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: $color-couleur1-light;
    font-size: rem(23);
    text-align: center;
    width: 45%;

    margin-bottom: 40px;
  }

  i, p {
    color: $color-couleur1-base;
  }

  i {
    font-size: rem(40);
  }

  p {
    font-family: $ff-subtitle;
    font-size: rem(23);

    margin: 20px 0 0;
  }
}
