// STYLES POUR LES FORMULAIRES

// Tous les éléments de form
label,
email,
button,
input,
optgroup,
select,
textarea {
  @include font($ff-normal, rem(15), #690000, $lh-normal);
  margin: 0;
  transition: 0.5s all;
}

// Styles des inputs
[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="time"],
[type="search"],
select,
textarea {
  padding: 12px;
  background-color: $white;
  border: 3px solid #616161;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &:focus {
    background-color: #D6D6D6;
    outline: 0;
  }
}

select {
  line-height: 1.5;
}

// Hover sur les inputs
[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="tel"]:hover,
[type="number"]:hover,
[type="date"]:hover,
[type="time"]:hover,
[type="search"]:hover,
select:hover,
textarea:hover {
  background-color: #D6D6D6;
}

// Button
[type="submit"] {
  @include font($ff-subtitle, rem(19), $white, 1);

  border: none;
  background: #373737;
  padding: 10px 25px;

  transition: all 150ms ease-in-out;

  cursor: pointer;

  &:hover {
    background: $color-couleur4-light;

    transition: all 300ms ease-in-out;
  }
}

// Placeholders
::placeholder {
  color: #690000;
  text-align: center;
}