// LES STYLES DE BASE DES BALISES <h>


h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h1{
  @include font($ff-title, $fz-h1, #7A0C04, $lh-normal);
}

h2{
  @include font($ff-title, $fz-h2, #616161, 1.2);
}

h3{
  @include font($ff-subtitle, $fz-h3, $color-couleur1-base, $lh-normal);
  letter-spacing: 1px;
}

h4 {
  @include font($ff-subtitle, $fz-h4, $white, $lh-normal);
}
