//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleurs principales (Raclette)
$color-couleur1-base: #181818;
$color-couleur1-dark: #000000;
$color-couleur1-light: #515151;

$color-couleur2-base: #ECE7E1;
$color-couleur2-dark: #CFC9C0;
$color-couleur2-light: #F8F2EB;

$color-couleur3-base: #E8B00B;
$color-couleur3-dark: #CA9A0D;
$color-couleur3-light: #FFCD39;

$color-couleur4-base: #9B0F05;
$color-couleur4-dark: #7A0C04;
$color-couleur4-light: #CE2014;

// Couleurs neutres
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Couleur de backgrounds
$color-bg-page: $white;
$color-bg-light: $gray-100;
$color-bg-dark: $gray-800;

// Texte
$color-text-normal: $color-couleur1-light;

// Titres
$color-title-light: $gray-100;
$color-title-dark: $gray-800;

// Couleurs des liens
$color-link: $gray-100;
$color-link-visited: $color-link;
$color-link-hover: darken($color-link, 5%);
$color-link-active: darken($color-link, 15%);
$color-link-focus: $color-link;

//Couleurs pour formulaire
$base-input-placeholder-color:                  #999 ;
$base-input-color:                              #000 ;
$base-input-background-color:                   #fff ;
$base-input-background-focus-color:             #fff ;
$base-input-border-color:                       #ccc ;
$base-input-border-focus-color:                 #000 ;
$base-select-box-height: 36px;

//Couleurs des médias sociaux
$color-facebook: #3b5999;
$color-googleplus: #dd4b39;


