//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

// Line-height
$lh-normal: 1;

// Font families
$ff-normal: 'Prata', 'Times New Roman', serif;
$ff-title: 'Pacifico', cursive;
$ff-subtitle: 'Oranienbaum', 'Times New Roman', serif;

// Font sizes
$fz-h1: rem(72);
$fz-h2: rem(48);
$fz-h3: rem(30);
$fz-h4: rem(25);
$fz-button: rem(27);
$fz-normal: rem(19);

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
